@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.root {
  display: flex;
  flex-direction: column;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  background-color: #203a43;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  border: 2px solid #0f2027;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.search::placeholder {
  color: #4b859e;
}
.search:focus {
  background-color: #203a43;
  outline: none;
}

.movie {
  background-color: #203a43;
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3 {
  margin: 0;
}

.overview {
  background-color: white;
  color: #22254b;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  padding: 1rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.movie:hover .overview {
  transform: translateY(0%);
}

.tag.red {
  color: red;
}

.tag.orange {
  color: orange;
}
.tag.green {
  color: green;
}

.tag {
  background-color: #0f2027;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: bold;
}
